# Entorno virtual
venv/
.env
*.env

# Archivos de Python compilados
__pycache__/
*.pyc
*.pyo
*.pyd

# Configuración del IDE
.vscode/
.idea/
*.iml

# Archivos de logs y bases de datos locales
logs/
*.log
instance/
*.sqlite3
*.db

# Archivos de dependencias
pip-log.txt
pip-delete-this-directory.txt

# Caché de Flask y sesiones
flask_session/
.cache/

# Archivos de despliegue
*.pid
*.sock

# Archivos de Docker (si usas Docker)
docker-compose.override.yml

# Archivos específicos de Mac/Linux/Windows
.DS_Store
Thumbs.db
